<h1>Escribe tu artículo</h1>
<form method ='get' action='/posts/create' id="create_posts">
    <div class="form-group">
        <label for="title">Título</label>
        <input name="title" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Agrega un título">
    </div>
    <div class="form-group">
        <label for="image">Imagen</label>
        <input name="image_url" type="text" class="form-control" class="form-control" id="formGroupExampleInput" placeholder="Agrega la dirección de la imagen">
    </div>
    <div class="form-group">
        <label for="comment">Contenido</label>
        <input name="content" class="form-control" aria-label="With textarea">
    </div>
</div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>